@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
.p,
span {
  font-family: "Source Serif 4", serif;
}


p,
li,
a {
  font-family: "Roboto", sans-serif;
}

.bus {
  background-image: url("./assets//images/header_bus.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.customShadow {
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
}

.ul {
  list-style-type: disc;
}

.customShadow {
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
}

.dashboard-modal {
  position: fixed;
  top: 83px;
  right: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: height 0.5s ease;
  z-index: 1000;
}

.dashboard-modal.open {
  height: auto;
}

.dashboard-modal .modal-content {
  padding: 20px;
  color: white;
}

@media only screen and (min-width: 871px) {
  .menu {
    display: none;
  }

  .dashboard-modal {
    display: none;
  }

}

@media only screen and (max-width: 870px) {

  .Links,
  .Login {
    display: none;
  }


}

@media only screen and (max-width: 1023px) {
  .Why-us {
    height: 800px;
  }

  .Why-us img {
    width: 70%;
  }
}